/* main yellow: #ffdd15 */

/********************************************
ANIMATION KEYFRAMES
********************************************/

@keyframes pulse {
    0% {
      
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
}


/********************************************
BASE STYLES
********************************************/

* {
  box-sizing: border-box;
}

* > p {
  margin-bottom: 2em;
}


img {
  max-width: 100%;
}

div {
  width: 100%
}

html {
  background-color: #ffeb73;
}



body {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'bebas_neuebold', 'Arial', sans-serif;
/*  text-align: center;*/
  margin-bottom: .4em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 4em;
}

h4 {
  font-size: 3em;
}

h5 {
  font-size: 2.2em;
}

h6 {
  font-size: 1.6em;
}


p,
a {
  font-size: 16px;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: #ffdd15;
  font-weight: 700;
  transition: all .2s ease-in;
}

a:hover {
  color: #bfa610;
}

.yellow-text {
  color: #ffdd15;
}



/********************************************
HEADER
********************************************/


header  {
  background-color: #fff;
  position: absolute;
  width: 100%;
}

/* header * {
  

  -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}*/

header.fixed {
  height: 4em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header > * {
  margin: 0 2%;
}

.main-logo {
  width: 100%;
/*  float: left;*/
}


header.main-logo img {
  width: 50%;
  display: inline;
  margin: 0 auto;
/*  margin: 0 16.6666666666665%;*/
}

.main-logo a img {
  padding: .4em
}

.main-logo.fixed {
  position: fixed;
  top: 0;
  left: 2%;
  float: left;
  width: 40%;
/*  max-height: 4em;*/
  z-index: 1;
/*  padding: .2em;*/
/*  background-color: #fff;*/
}

.main-logo.fixed img {
  max-width: 160px;
}


.main-nav {
  margin: .2em auto 0;
  text-align: center;
/*  float: right;*/
/*  display: none; */
  width: 80%;
  padding-top: .05em;
  border-radius: .4em;
  
   
  
}

.main-nav ul {
/*  display: none;*/
/*  background-color: #000;*/
  text-align: center;
  padding: .6em;
/*  border-radius: 20%;*/
/*  width: 100%;*/
}

.main-nav ul li a {
  font-size: 1em;
  padding: .2em;
  transition: all .2s ease-in;
}

.main-nav ul li a:hover {
  color: #fff;
}

.main-nav.fixed {
/*  background-color: #fff;*/
  position: fixed;
  top: 1em;
  right: 2%;
  width: 95%;
  border-radius: 0;
  margin: 0 auto;
  padding: 1.2em 0 0;
/*  right: 10%;*/
}

.main-nav.fixed.show-nav {
  right: 0;
}



.main-nav.fixed a div {
  margin: 0 0 .2em auto;
  
}

.main-nav.fixed ul {
  display: none;
  text-align: right;
  font-size: 1.1em;
}


.show-nav {
  position: relative;
/*  right: 10%;*/
  background-color: rgba(255, 221, 21, 1);
/*  background-color: #ffdd15;*/
  margin-top: .4em;
/*  width: 100%;*/
  
}

.show-nav li a {
  color: #000;
  padding: .4em 0;

}


a.menu-toggle {
  vertical-align: middle;
/*  background-color: #ffdd15;*/
}

.toggle-bar {
  background-color: #000;
/*  width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 10px solid #000;*/
  width: 1.8em;
  height: .2em;
  border-radius: .4em;
  margin: 0 auto .2em;
  transition: all .1s ease-in;
  
/*  -webkit-animation: pulse 2s infinite;*/
  
}

.menu-toggle:hover > div,
.menu-toggle.fixed > div {
  margin: 0 auto .3em;
}

.menu-toggle.rotate > div {
  transform: translateX(90deg);
}

/*.toggle-bar:active {
  background-color: #000;
  width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 10px solid #ffdd15;

  margin: .4em auto;
}*/


/********************************************
WRAPPER
********************************************/
.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.container > div {
  margin: 0 auto;
}

.wrapper {
  background-color: #eee;
/*  margin-top: 10em;*/
/*  background-color: rgba(255, 221, 21, .1);*/
  padding-top: 14em;
  
}


/********************************************
FOOTER
********************************************/

footer {
  padding-top: 1em;
}

.footer-logo.footer-nav,
.social-icons.copyright {
  width: 50%;
  margin: .2em auto .8em;
  text-align: center;
  display: block;
 }

.footer-logo.footer-nav img {
  margin-bottom: .4em;
}

.social-icons.copyright ul li {
  display: inline;
}
.social-icons.copyright img {
  width: 15%;
  margin-bottom: .4em;
}

.social-icons.copyright p {
  font-size: .4em;
  margin-bottom: 0;
}
 



/********************************************
RESPONSIVE
********************************************/

@media screen and (min-width: 600px) {
  
  /********************************************
  HEADER
  ********************************************/
  .main-logo {
    float: left;
    width: 50%;
  }
  .main-logo img {
    width: 350px;
  }
  .toggle-group {
    display: none;
  }
  .show-nav,
  .main-nav {
    float: right;
    background-color: transparent;
  }
  .main-nav {
    width: 50%;
    position: relative;
    top: 80px;
  }
  
  /********************************************
  MAIN
  ********************************************/
  .wrapper {
    padding: 0;
  }
  .container{
    width: 100%;
  }
  
/*  div.image-members {
        margin-top: 124px;
  }*/
 
  .image-members div {
    float: left;
    width: 25%;
    height: 400px;
    margin-top: 124px;
    padding: 2em;
  }
  
  .image-members div h4,
  .image-members div p {
    display: none;
  }
  
  .image-members div.member{
    background-size: cover;
    background-position: center;
  }
  

  .image-members div.member.one {
          background-image: url(../img/alex1.jpg);
  }

  .image-members div.member.one:hover {
        background-image: url(../img/alex2.jpg);
}
  
  
  
  .image-members div.member.two {
        background-image: url(../img/carl.jpg);
}
  .image-members div.member.three {
        background-image: url(../img/placeholder.jpg);
}
  .image-members div.member.four {
        background-image: url(../img/alex1.jpg);
}
  
    .image-members div.member {
    background-size: cover;
      background-color: rgba(255, 221, 21, 0);
      -webkit-transition: all 3s ease-in-out;
    transition: all .8s ease-in-out;
  }
  

  .image-members div.member:hover {
    background-image: none;
      background-color: rgba(255, 221, 21, 1);

    color: #333;
  }
  
  .image-members div.member:hover * {
    display: block;
  }
  
  .wrapper.info {
    width: 80%;
  }
  
  .wrapper.info {
     margin-top: 4em;
  }
  
  .info {
    position: relative;
  }
  

}


/********************************************
BASE STYLES
********************************************/



/********************************************
BASE STYLES
********************************************/



/********************************************
BASE STYLES
********************************************/
